/*.numberBox div {
  border: 1px solid black;

}

.operatorBox div {
  border: 1px solid black;
}*/

/*.answerBox {
  border: 1px solid black;
}*/

/*.oneFive {
  display: block;
}

.sixZero {
  display: block;
}*/
